In [1]:
import pandas as pd
import numpy as np

columns = [
    'id', 'testing_for', 'address', 'zip_code', 'provider',
    'connected_with', 'monthly_price', 'provider_down_speed',
    'provider_price', 'actual_down_speed', 'price_per_mbps', 'rating',
    'completed', 'created_at', 'updated_at', 'latitude', 'longitude',
    'ping', 'actual_upload_speed', 'test_id', 'ip_address', 'hostname',
    'from_mlab', 'area_code', 'test_type', 'census_tract',
    'upload_median', 'download_median', 'census_status', 'test_date',
    'country_code', 'region', 'county', 'accuracy', 'location',
    'census_block'
]

# Read CSV in to Dataframe
filename = './data/3cb026d0-0ad8-45c3-a030-cd5b19c2ab17.csv'
submissions = pd.read_csv(filename, header=None, names=columns)

submissions.tail() # Output last 5 rows

,id,testing_for,address,zip_code,provider,connected_with,monthly_price,provider_down_speed,provider_price,actual_down_speed,...,upload_median,download_median,census_status,test_date,country_code,region,county,accuracy,location,census_block
1470,8684792,Home Wifi,NaN,97493.0,LS Networks,NaN,40.0,14.0,2.86,4.14,...,NaN,NaN,NaN,2019-11-28,US,OR,41039.0,50.0,NaN,4.103900e+14
1471,8684793,Home Wifi,NaN,97401.0,"Comcast Cable Communications, LLC","Wireless connection, multiple devices in house...",NaN,NaN,NaN,93.40,...,NaN,NaN,NaN,2019-11-29,US,OR,41039.0,5018.0,NaN,4.103900e+14
1472,8684794,Home Wifi,NaN,97426.0,"CenturyLink Communications, LLC",NaN,27.0,0.0,NaN,0.24,...,NaN,NaN,NaN,2019-11-29,US,OR,41039.0,50.0,NaN,4.103900e+14
1473,8684795,Home Wifi,NaN,97471.0,Douglas FastNet,NaN,50.0,100.0,0.50,91.62,...,NaN,NaN,NaN,2019-11-29,US,OR,41019.0,50.0,NaN,4.101907e+14
1474,8684796,Home Wifi,NaN,97471.0,Douglas FastNet,NaN,50.0,50.0,1.00,286.21,...,NaN,NaN,NaN,2019-11-29,US,OR,41019.0,50.0,NaN,4.101915e+14

In [2]:
# Cleanup
submissions['rating'] = submissions['rating'].replace(0.0,  np.nan)
submissions = submissions[submissions['census_tract'].notnull()]
submissions = submissions[submissions['test_type'] != 'duplicate']

submissions['census_tract'] = submissions['census_tract'].astype(np.int64)

In [3]:
# Create a DataFrame containing only Lane County submissions
lane = submissions[submissions['county'] == 41039].copy()
lane.describe()

,zip_code,monthly_price,provider_down_speed,provider_price,actual_down_speed,price_per_mbps,rating,completed,latitude,longitude,...,actual_upload_speed,from_mlab,area_code,census_tract,upload_median,download_median,county,accuracy,location,census_block
count,839.000000,490.000000,405.000000,380.000000,840.000000,380.000000,521.000000,840.000000,840.000000,840.000000,...,840.000000,840.0,0.0,8.400000e+02,0.0,0.0,840.0,344.000000,0.0,7.990000e+02
mean,97423.972586,77.769388,114.590123,5.346079,53.286952,33.287842,4.017274,0.985714,44.042729,-123.122373,...,20.054619,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,2378.386628,NaN,4.103900e+14
std,30.559078,42.465888,193.355518,12.081005,75.380557,168.225740,1.833893,0.118737,0.077386,0.244853,...,71.754907,0.0,NaN,1.549182e+03,NaN,NaN,0.0,13636.513556,NaN,1.557425e+07
min,97401.000000,0.000000,0.000000,0.010000,0.050000,0.040000,1.000000,0.000000,43.686800,-124.130500,...,0.000000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,6.000000,NaN,4.103900e+14
25%,97402.000000,50.000000,12.000000,0.600000,7.310000,1.170000,3.000000,1.000000,44.028825,-123.147000,...,1.402500,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,50.000000,NaN,4.103900e+14
50%,97405.000000,70.000000,60.000000,1.330000,24.375000,3.145000,4.000000,1.000000,44.050000,-123.094000,...,5.710000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,52.000000,NaN,4.103900e+14
75%,97439.000000,95.000000,100.000000,4.500000,68.585000,11.347500,5.000000,1.000000,44.077875,-123.056075,...,11.332500,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,1062.000000,NaN,4.103900e+14
max,97493.000000,200.000000,1500.000000,120.000000,591.840000,2400.000000,7.000000,1.000000,44.262200,-122.154200,...,864.820000,0.0,NaN,4.103901e+10,NaN,NaN,41039.0,154677.000000,NaN,4.103901e+14

In [4]:
lane['monthly_price'].describe()

count    490.000000
mean      77.769388
std       42.465888
min        0.000000
25%       50.000000
50%       70.000000
75%       95.000000
max      200.000000
Name: monthly_price, dtype: float64

### Census Hierarchy

![](assets/census_hierarchy.jpg)

https://www.census.gov/newsroom/blogs/random-samplings/2014/07/understanding-geographic-relationships-counties-places-tracts-and-more.html

In [5]:
# Hand built by clicking around on speedupamerica.com's results page
# Next time I will use https://tigerweb.geo.census.gov/tigerweb/
eugene_tracts = [
    41039002201, 41039002202, 41039002301, 41039002401,
    41039002302, 41039002403, 41039002404, 41039002501,
    41039002503, 41039002504, 41039002600, 41039002700,
    41039002800, 41039002902, 41039002903, 41039002904,
    41039003000, 41039003101, 41039003102, 41039003600,
    41039003700, 41039003800, 41039004000, 41039005400,
    41039004100, 41039004200, 41039004300, 41039004401,
    41039004403, 41039004404, 41039004405, 41039004501,
    41039004502, 41039004600, 41039004700, 41039004800,
    41039004900, 41039005000, 41039005100, 41039005300,
]
springfield_tracts = [
    41039001801, 41039001803, 41039001804, # Thurston
    41039001902, 41039001903, 41039001904, # Centeral Springfield
    41039002001, 41039002002, # North Springfield
    41039002101, 41039002102, # Gateway
    41039003201, 41039003202, # West Springfield (Centenial)
    41039003301, 41039003302, # Springfield
    41039003400, # East of Mohawk
    41039003500 # Jasper Rd and Dorris Ranch
]

# Set 'lane county' on all rows
lane['lane_region'] = 'lane county'

# Set 'eugene' on rows with a Eugene Census Tract
eugene = lane['census_tract'].isin(eugene_tracts)
lane.loc[eugene, 'lane_region'] = 'eugene'

# Set 'springfield' on rows with a Eugene Census Tract
springfield = lane['census_tract'].isin(springfield_tracts)
lane.loc[springfield, 'lane_region'] = 'springfield'

###############################################################
# With additional list of Census Tract lists more cities 
# could be added. Pull requests welcome!
###############################################################

In [6]:
aggs = {
    "id": ["count"],
    "rating":  ["mean", "median", "count"], # 1 to 7 scale
    "actual_down_speed": ["mean", "median", "count"],
    # actual_down_speed / monthly_price
    "price_per_mbps": ["mean", "median", "count"] 
}

In [7]:
# Aggregate by `lane_region`, showing the mean, median, and count for
# rating, actual download speed, montly price, and actual price
lane.groupby('lane_region').agg(aggs).sort_values(('id', 'count'), ascending=False)

               id    rating              actual_down_speed                \
            count      mean median count              mean  median count
lane_region
eugene        426  4.561265    5.0   253         71.471127  40.715   426
lane county   322  3.357843    3.0   204         28.888789   9.505   322
springfield    92  3.968750    4.0    64         54.479891  33.775    92

            price_per_mbps
                      mean median count
lane_region
eugene            6.467049   1.72   183
lane county      76.710556  10.83   144
springfield       7.916792   1.97    53

## Eugene

In [8]:
eugene = lane[lane['lane_region'] == 'eugene']

In [29]:
agg = eugene.groupby('provider').agg(aggs)
agg.sort_values(('id', 'count'), ascending=False).head(10)

                                                      id    rating         \
                                                   count      mean median
provider
Comcast Cable Communications, LLC                    289  4.440476    4.0
CenturyLink Communications, LLC                       57  3.588235    4.0
XS Media                                              35  5.870968    6.0
Network for Education and Research in Oregon (N...    13  5.750000    5.5
Verizon Wireless                                       7  4.000000    4.0
Emerald Broadband, LLC                                 5  5.400000    7.0
AT&T Mobility LLC                                      4  4.000000    4.0
University of Oregon                                   4  7.000000    7.0
Sprint Personal Communications Systems                 3  3.000000    3.0
ATT                                                    2       NaN    NaN

                                                         actual_down_speed  \
                                                   count              mean
provider
Comcast Cable Communications, LLC                    168         80.300588
CenturyLink Communications, LLC                       34         16.764737
XS Media                                              31        118.473714
Network for Education and Research in Oregon (N...     4         50.325385
Verizon Wireless                                       4         19.085714
Emerald Broadband, LLC                                 5         29.784000
AT&T Mobility LLC                                      2          9.717500
University of Oregon                                   1         44.880000
Sprint Personal Communications Systems                 1         10.126667
ATT                                                    0         86.675000

                                                                  \
                                                    median count
provider
Comcast Cable Communications, LLC                   61.120   289
CenturyLink Communications, LLC                      8.030    57
XS Media                                            52.800    35
Network for Education and Research in Oregon (N...  24.940    13
Verizon Wireless                                    19.660     7
Emerald Broadband, LLC                              28.820     5
AT&T Mobility LLC                                    7.205     4
University of Oregon                                44.885     4
Sprint Personal Communications Systems               1.470     3
ATT                                                 86.675     2

                                                   price_per_mbps          \
                                                             mean  median
provider
Comcast Cable Communications, LLC                        4.444196   1.280
CenturyLink Communications, LLC                         13.940294   6.325
XS Media                                                 0.870000   0.870
Network for Education and Research in Oregon (N...            NaN     NaN
Verizon Wireless                                        51.810000  51.810
Emerald Broadband, LLC                                   5.325000   2.470
AT&T Mobility LLC                                             NaN     NaN
University of Oregon                                          NaN     NaN
Sprint Personal Communications Systems                        NaN     NaN
ATT                                                           NaN     NaN


                                                   count
provider
Comcast Cable Communications, LLC                    143
CenturyLink Communications, LLC                       34
XS Media                                               1
Network for Education and Research in Oregon (N...     0
Verizon Wireless                                       1
Emerald Broadband, LLC                                 4
AT&T Mobility LLC                                      0
University of Oregon                                   0
Sprint Personal Communications Systems                 0
ATT                                                    0

In [19]:
eugene.groupby('census_tract').agg(aggs).sample(10)

                id    rating              actual_down_speed                \
             count      mean median count              mean  median count
census_tract
41039004600      6       NaN    NaN     0         50.621667  30.730     6
41039003600      7  3.800000    4.0     5         26.350000   8.860     7
41039002404      9  3.800000    4.0     5         50.274444  36.050     9
41039002904      7  4.250000    4.0     4         34.954286  35.960     7
41039002301      6  4.000000    4.0     4         65.836667  55.950     6
41039004502     44  5.130435    6.0    23        111.449545  66.820    44
41039004700     28  4.300000    5.0    20         47.212143  45.185    28
41039002600      7  3.333333    3.0     3         17.928571  10.080     7
41039002503     17  4.000000    4.0     8        135.838824  51.190    17
41039003000     18  6.000000    6.0     8         60.343333  51.005    18

             price_per_mbps
                       mean median count
census_tract
41039004600             NaN    NaN     0
41039003600        6.501667  7.465     6
41039002404        9.983333  1.930     6
41039002904        3.043333  2.840     3
41039002301        0.840000  0.840     2
41039004502        5.877500  1.450     8
41039004700        5.431111  1.700    18
41039002600        7.040000  7.505     4
41039002503        1.726000  1.520     5
41039003000        1.622857  0.780     7

## Springfield

In [11]:
springfield = lane[lane['lane_region'] == 'springfield']

In [26]:
agg = springfield.groupby('provider').agg(aggs)
agg.sort_values(('id', 'count'), ascending=False).head(10)

                                                      id rating               \
                                                   count   mean median count
provider
Comcast Cable Communications, LLC                     69   4.18    4.0    50
CenturyLink Communications, LLC                       16   3.70    4.5    10
Verizon Wireless                                       2    NaN    NaN     0
AVAST Software s.r.o.                                  1   2.00    2.0     1
Network for Education and Research in Oregon (N...     1    NaN    NaN     0
SoftLayer Technologies Inc.                            1   1.00    1.0     1
Sprint                                                 1   3.00    3.0     1
ViaSat,Inc.                                            1   2.00    2.0     1

                                                   actual_down_speed          \
                                                                mean  median
provider
Comcast Cable Communications, LLC                          68.219565  49.860
CenturyLink Communications, LLC                            10.206875   8.835
Verizon Wireless                                            1.785000   1.785
AVAST Software s.r.o.                                      31.720000  31.720
Network for Education and Research in Oregon (N...          2.730000   2.730
SoftLayer Technologies Inc.                                23.900000  23.900
Sprint                                                     76.380000  76.380
ViaSat,Inc.                                                 3.390000   3.390

                                                         price_per_mbps  \
                                                   count           mean
provider
Comcast Cable Communications, LLC                     69       2.260500
CenturyLink Communications, LLC                       16      26.657273
Verizon Wireless                                       2            NaN
AVAST Software s.r.o.                                  1            NaN
Network for Education and Research in Oregon (N...     1            NaN
SoftLayer Technologies Inc.                            1       0.540000
Sprint                                                 1            NaN
ViaSat,Inc.                                            1      35.400000


                                                   median count
provider
Comcast Cable Communications, LLC                    1.39    40
CenturyLink Communications, LLC                     13.40    11
Verizon Wireless                                      NaN     0
AVAST Software s.r.o.                                 NaN     0
Network for Education and Research in Oregon (N...    NaN     0
SoftLayer Technologies Inc.                          0.54     1
Sprint                                                NaN     0
ViaSat,Inc.                                         35.40     1

In [24]:
springfield.groupby('census_tract').agg(aggs).sample(10)

                id    rating              actual_down_speed                 \
             count      mean median count              mean   median count
census_tract
41039001801      8  5.000000    5.5     6         36.018750    9.265     8
41039002101      4  4.500000    4.5     2        103.632500  109.575     4
41039003202      6  3.000000    3.0     5        131.898333   82.875     6
41039002001      7  4.000000    4.0     6         48.637143   39.040     7
41039002002     13  3.666667    3.0    12         46.122308   49.860    13
41039003201      4  3.000000    3.0     1         28.467500   28.270     4
41039001902      5  6.250000    6.5     4         59.430000   31.410     5
41039003302      9  3.428571    3.0     7         38.030000   26.580     9
41039002102      7  5.250000    5.5     4         66.508571   46.210     7
41039001804      6  2.666667    3.0     3         50.840000   15.725     6

             price_per_mbps
                       mean median count
census_tract
41039001801       36.480000  13.40     5
41039002101        4.340000   4.34     1
41039003202        0.772500   0.55     4
41039002001        1.853333   1.79     3
41039002002        1.453333   0.66     9
41039003201        1.476667   1.49     3
41039001902        1.810000   2.31     3
41039003302       13.014000   3.20     5
41039002102        3.800000   2.21     5
41039001804       15.637500   2.89     4

## Lane County

In [14]:
county = lane[lane['lane_region'] == 'lane county']

In [30]:
agg = county.groupby('provider').agg(aggs)
agg.sort_values(('id', 'count'), ascending=False).head(10)

                                     id    rating               \
                                  count      mean median count
provider
CenturyLink Communications, LLC     111  2.565789    2.0    76
Charter Communications               61  4.500000    5.0    34
XS Media                             35  5.000000    5.0    26
Comcast Cable Communications, LLC    24  4.461538    4.0    13
ViaSat,Inc.                          24  1.722222    1.0    18
Verizon Wireless                     24  2.272727    2.0    11
Hughes Network Systems               12  2.500000    3.0     8
Emerald Broadband, LLC                8  3.142857    3.0     7
Hunter Communications                 7  2.750000    3.0     4
LS Networks                           5  5.000000    5.0     4

                                  actual_down_speed                \
                                               mean  median count
provider
CenturyLink Communications, LLC            6.186757   3.790   111
Charter Communications                    49.977705  34.500    61
XS Media                                  75.940571  58.240    35
Comcast Cable Communications, LLC         54.348750  49.500    24
ViaSat,Inc.                                6.759167   5.780    24
Verizon Wireless                          16.397500   6.815    24
Hughes Network Systems                     5.184167   3.080    12
Emerald Broadband, LLC                    18.511250   6.115     8
Hunter Communications                     53.195714   7.160     7
LS Networks                               19.260000  18.700     5

                                  price_per_mbps
                                            mean   median count
provider
CenturyLink Communications, LLC        56.162759   16.495    58
Charter Communications                  3.899600    1.970    25
XS Media                                6.535000    5.710     4
Comcast Cable Communications, LLC       2.230000    1.175    12
ViaSat,Inc.                           250.489000   23.605    20
Verizon Wireless                      350.596667  165.015     6
Hughes Network Systems                 40.661111   13.540     9
Emerald Broadband, LLC                 21.750000   21.750     2
Hunter Communications                  19.070000   19.875     4
LS Networks                             9.850000    5.875     4

In [28]:
county.groupby('census_tract').agg(aggs).sample(10)

                id    rating              actual_down_speed                \
             count      mean median count              mean  median count
census_tract
41039000403     11  4.600000    4.0     5         32.150000   9.820    11
41039001500      8  3.500000    2.5     6         20.543750   6.050     8
41039000200     18  2.214286    2.0    14         12.102778   6.775    18
41039001102     10  3.000000    4.0     5         47.752000  21.050    10
41039000708      1       NaN    NaN     0         74.230000  74.230     1
41039000402     10  2.666667    3.0     9          6.893000   3.490    10
41039001301      5  1.000000    1.0     3         20.468000   6.710     5
41039000903     19  3.666667    3.0    12         10.613684   3.320    19
41039000705      5  3.666667    4.0     3         37.256000  29.300     5
41039001002     24  2.411765    2.0    17         12.793333   8.050    24

             price_per_mbps
                       mean  median count
census_tract
41039000403       14.286667  16.390     3
41039001500       18.662000  10.890     5
41039000200       34.524000  14.555    10
41039001102       32.050000  27.140     4
41039000708             NaN     NaN     0
41039000402      198.492500  18.415     8
41039001301       17.820000  16.550     3
41039000903       79.232857  10.630     7
41039000705        1.960000   1.960     2
41039001002      162.656000  30.615    10