In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("whitegrid", {'legend.frameon':True})

columns = [
    'id', 'testing_for', 'address', 'zip_code', 'provider',
    'connected_with', 'monthly_price', 'provider_down_speed',
    'provider_price', 'actual_down_speed', 'actual_price', 'rating',
    'completed', 'created_at', 'updated_at', 'latitude', 'longitude',
    'ping', 'actual_upload_speed', 'test_id', 'ip_address', 'hostname',
    'from_mlab', 'area_code', 'test_type', 'census_code',
    'upload_median', 'download_median', 'census_status', 'test_date',
    'country_code', 'region', 'county', 'accuracy', 'location',
    'census_block'
]

# Load and filter CSV in chunks (less memory, require 5GB to load full dataset) to just from_mlab = 0 (SUA submissions)
iter_csv = pd.read_csv('./data/9035f7b8-2d2f-4de0-a816-4067e1ae8fd8.csv', header=None, names=columns, iterator=True, chunksize=1000)
sua = pd.concat([chunk[chunk['from_mlab'] == 0] for chunk in iter_csv])
sua['rating'] = sua['rating'].replace(0.0,  np.nan)

In [29]:
lane = sua[sua['county'] == 41039]

In [30]:
lane.describe()

,zip_code,monthly_price,provider_down_speed,provider_price,actual_down_speed,actual_price,rating,completed,latitude,longitude,...,actual_upload_speed,from_mlab,area_code,census_code,upload_median,download_median,county,accuracy,location,census_block
count,785.000000,430.000000,368.000000,348.000000,786.000000,348.000000,500.000000,786.000000,786.000000,786.000000,...,786.000000,786.0,0.0,7.860000e+02,0.0,0.0,786.0,182.000000,0.0,7.520000e+02
mean,97423.163057,77.755814,149.312500,5.335374,58.126794,28.249511,4.164000,0.978372,44.044947,-123.115524,...,23.806489,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,1984.379121,NaN,4.103900e+14
std,30.281358,40.597156,548.745811,12.423948,77.764096,122.794332,1.887917,0.145560,0.074965,0.215943,...,75.134598,0.0,NaN,1.574336e+03,NaN,NaN,0.0,10593.162882,NaN,1.578051e+07
min,97401.000000,0.000000,0.000000,0.010000,0.030000,0.040000,1.000000,0.000000,43.686800,-124.130500,...,0.000000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,6.000000,NaN,4.103900e+14
25%,97402.000000,50.000000,12.000000,0.540000,7.722500,1.085000,3.000000,1.000000,44.034000,-123.147100,...,1.762500,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,39.250000,NaN,4.103900e+14
50%,97405.000000,70.000000,60.000000,1.330000,30.665000,2.780000,4.000000,1.000000,44.050000,-123.094100,...,5.770000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,52.000000,NaN,4.103900e+14
75%,97439.000000,93.750000,150.000000,4.260000,74.460000,10.917500,6.000000,1.000000,44.076175,-123.061250,...,11.427500,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,1062.000000,NaN,4.103900e+14
max,97490.000000,200.000000,10000.000000,120.000000,631.460000,1428.570000,7.000000,1.000000,44.262200,-122.163100,...,864.820000,0.0,NaN,4.103901e+10,NaN,NaN,41039.0,118584.000000,NaN,4.103901e+14

In [21]:
lane_tracts = lane['census_code'].unique()
len(lane_tracts)

85

## Census Tract assignments

In [31]:
eugene_tracts = [
    41039002201, 41039002202,
    41039002301,
    41039002401, 41039002302, 41039002403, 41039002404,
    41039002501, 41039002503, 41039002504,
    41039002600,
    41039002700,
    41039002800,
    41039002902, 41039002903, 41039002904,
    41039003000,
    41039003101, 41039003102,
    41039003600, # Glenwood and LCC
    41039003700, # UofO
    41039003800,
    41039003900,
    41039004000,
    41039004100,
    41039004200,
    41039004300,
    41039004401, 41039004403, 41039004404, 41039004405,
    41039004501, 41039004502,
    41039004600,
    41039004700,
    41039004800,
    41039004900,
    41039005000,
    41039005100,
    41039005300,
    41039005400
]
springfield_tracts = [
    41039001801, 41039001803, 41039001804, # Thurston
    41039001902, 41039001903, 41039001904, # Centeral Springfield
    41039002001, 41039002002, # North Springfield
    41039002101, 41039002102, # Gateway
    41039003201, 41039003202, # West Springfield (Centenial)
    41039003301, 41039003302, # Springfield
    41039003400, # East of Mowhawl
    41039003500 # Jasper Rd and Dorris Ranch
]

## Eugene

In [37]:
eugene = sua[sua['census_code'].isin(eugene_tracts)]
eugene.describe()

,zip_code,monthly_price,provider_down_speed,provider_price,actual_down_speed,actual_price,rating,completed,latitude,longitude,...,actual_upload_speed,from_mlab,area_code,census_code,upload_median,download_median,county,accuracy,location,census_block
count,451.000000,214.000000,193.000000,179.000000,451.000000,179.000000,275.000000,451.000000,451.000000,451.000000,...,451.000000,451.0,0.0,4.510000e+02,0.0,0.0,451.0,122.000000,0.0,4.400000e+02
mean,97402.838137,76.177570,168.378238,3.195531,77.656430,5.250000,4.825455,0.966741,44.057102,-123.107488,...,36.512173,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,2640.434426,NaN,4.103900e+14
std,1.854235,36.544092,215.405158,10.519312,90.737394,13.049122,1.654039,0.179512,0.026685,0.032094,...,96.441290,0.0,NaN,9.013008e+02,NaN,NaN,0.0,12852.707539,NaN,8.843496e+06
min,97401.000000,0.000000,1.000000,0.010000,0.230000,0.040000,1.000000,0.000000,43.993300,-123.200500,...,0.100000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,6.000000,NaN,4.103900e+14
25%,97401.000000,50.000000,50.000000,0.340000,16.865000,0.790000,4.000000,1.000000,44.039850,-123.129700,...,4.550000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,39.250000,NaN,4.103900e+14
50%,97402.000000,70.000000,80.000000,0.830000,53.990000,1.660000,5.000000,1.000000,44.050000,-123.099000,...,8.350000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,65.000000,NaN,4.103900e+14
75%,97405.000000,90.000000,200.000000,1.715000,98.705000,3.970000,6.000000,1.000000,44.074750,-123.086400,...,11.895000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,1062.000000,NaN,4.103900e+14
max,97408.000000,200.000000,1000.000000,120.000000,631.460000,134.850000,7.000000,1.000000,44.131400,-123.024100,...,864.820000,0.0,NaN,4.103901e+10,NaN,NaN,41039.0,118584.000000,NaN,4.103901e+14

In [38]:
eugene.groupby('provider').agg({
    "id": ["count"],
    "rating":  ["mean", "median", "count"],
    "actual_down_speed": ["mean", "median", "count"],
    "monthly_price": ["mean", "median", "count"],
    "actual_price": ["mean", "median", "count"]
}).sort_values(('id', 'count'), ascending=False).head(15)

                                                      id    rating         \
                                                   count      mean median
provider
Comcast Cable Communications, LLC                    284  4.546512    5.0
XS Media                                              70  6.087719    6.0
CenturyLink Communications, LLC                       45  3.360000    4.0
Network for Education and Research in Oregon (N...    12  6.000000    6.0
University of Oregon                                   6  6.000000    6.0
Verizon Wireless                                       6  3.500000    3.5
Emerald Broadband, LLC                                 5  5.400000    7.0
AT&T Mobility LLC                                      4  4.000000    4.0
ATT                                                    2       NaN    NaN
Douglas FastNet                                        2  7.000000    7.0
Sprint Personal Communications Systems                 2  3.000000    3.0
Cogent Communications                                  1  7.000000    7.0
Peak Internet, LLC                                     1       NaN    NaN
Sprint                                                 1       NaN    NaN
T-Mobile USA, Inc.                                     1       NaN    NaN

                                                         actual_down_speed  \
                                                   count              mean
provider
Comcast Cable Communications, LLC                    172         79.011444
XS Media                                              57        133.306571
CenturyLink Communications, LLC                       25         13.631778
Network for Education and Research in Oregon (N...     2         55.532500
University of Oregon                                   3         30.760000
Verizon Wireless                                       2         43.838333
Emerald Broadband, LLC                                 5         29.784000
AT&T Mobility LLC                                      2          9.022500
ATT                                                    0         86.675000
Douglas FastNet                                        2        145.640000
Sprint Personal Communications Systems                 1         14.455000
Cogent Communications                                  1        265.150000
Peak Internet, LLC                                     0          7.630000
Sprint                                                 0         16.220000
T-Mobile USA, Inc.                                     0         79.620000

                                                                   \
                                                     median count
provider
Comcast Cable Communications, LLC                    63.780   284
XS Media                                             99.025    70
CenturyLink Communications, LLC                       7.720    45
Network for Education and Research in Oregon (N...   26.120    12
University of Oregon                                  9.160     6
Verizon Wireless                                     26.680     6
Emerald Broadband, LLC                               28.820     5
AT&T Mobility LLC                                     7.205     4
ATT                                                  86.675     2
Douglas FastNet                                     145.640     2
Sprint Personal Communications Systems               14.455     2
Cogent Communications                               265.150     1
Peak Internet, LLC                                    7.630     1
Sprint                                               16.220     1
T-Mobile USA, Inc.                                   79.620     1

                                                   monthly_price               \
                                                            mean median count
provider
Comcast Cable Communications, LLC                      79.691860   70.5   172
XS Media                                               76.000000   74.5     4
CenturyLink Communications, LLC                        52.451613   47.0    31
Network for Education and Research in Oregon (N...           NaN    NaN     0
University of Oregon                                         NaN    NaN     0
Verizon Wireless                                      200.000000  200.0     2
Emerald Broadband, LLC                                 55.000000   50.0     4
AT&T Mobility LLC                                            NaN    NaN     0
ATT                                                          NaN    NaN     0
Douglas FastNet                                              NaN    NaN     0
Sprint Personal Communications Systems                       NaN    NaN     0
Cogent Communications                                        NaN    NaN     0
Peak Internet, LLC                                           NaN    NaN     0
Sprint                                                       NaN    NaN     0
T-Mobile USA, Inc.                                           NaN    NaN     0

                                                   actual_price
                                                           mean median count
provider
Comcast Cable Communications, LLC                      2.990070   1.24   142
XS Media                                               1.916667   0.87     3
CenturyLink Communications, LLC                       15.974815   6.80    27
Network for Education and Research in Oregon (N...          NaN    NaN     0
University of Oregon                                        NaN    NaN     0
Verizon Wireless                                      26.520000  26.52     2
Emerald Broadband, LLC                                 5.325000   2.47     4
AT&T Mobility LLC                                           NaN    NaN     0
ATT                                                         NaN    NaN     0
Douglas FastNet                                             NaN    NaN     0
Sprint Personal Communications Systems                      NaN    NaN     0
Cogent Communications                                       NaN    NaN     0
Peak Internet, LLC                                          NaN    NaN     0
Sprint                                                      NaN    NaN     0
T-Mobile USA, Inc.                                          NaN    NaN     0

## Springfield

In [39]:
springfield = sua[sua['census_code'].isin(springfield_tracts)]
springfield.describe()

,zip_code,monthly_price,provider_down_speed,provider_price,actual_down_speed,actual_price,rating,completed,latitude,longitude,...,actual_upload_speed,from_mlab,area_code,census_code,upload_median,download_median,county,accuracy,location,census_block
count,73.000000,46.000000,44.000000,42.000000,73.000000,42.000000,53.00000,73.000000,73.000000,73.000000,...,73.000000,73.0,0.0,7.300000e+01,0.0,0.0,73.0,22.000000,0.0,6.600000e+01
mean,97477.260274,75.304348,119.022727,3.551429,65.382055,8.264762,4.00000,0.972603,44.056262,-122.991363,...,7.984384,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,599.727273,NaN,4.103900e+14
std,0.441821,29.714097,146.374081,5.469011,58.441767,21.193785,1.82925,0.164368,0.015006,0.044957,...,7.374372,0.0,NaN,6.501787e+02,NaN,NaN,0.0,1512.805819,NaN,6.441427e+06
min,97477.000000,13.000000,0.000000,0.030000,0.440000,0.380000,1.00000,0.000000,44.011700,-123.043000,...,0.260000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,11.000000,NaN,4.103900e+14
25%,97477.000000,51.250000,18.750000,0.585000,23.900000,0.837500,3.00000,1.000000,44.046200,-123.022000,...,5.080000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,22.250000,NaN,4.103900e+14
50%,97477.000000,70.000000,60.000000,1.000000,49.860000,1.705000,4.00000,1.000000,44.058200,-123.001600,...,5.770000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,50.000000,NaN,4.103900e+14
75%,97478.000000,88.000000,150.000000,2.800000,89.370000,4.392500,5.00000,1.000000,44.068300,-122.972600,...,11.380000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,65.000000,NaN,4.103900e+14
max,97478.000000,150.000000,500.000000,26.670000,260.390000,125.000000,7.00000,1.000000,44.078400,-122.874300,...,40.510000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,5985.000000,NaN,4.103900e+14

In [41]:
springfield.groupby('provider').agg({
    "id": ["count"],
    "rating":  ["mean", "median", "count"],
    "actual_down_speed": ["mean", "median", "count"],
    "monthly_price": ["mean", "median", "count"],
    "actual_price": ["mean", "median", "count"]
}).sort_values(('id', 'count'), ascending=False).head(15)

                                     id    rating               \
                                  count      mean median count
provider
Comcast Cable Communications, LLC    58  4.500000    5.0    42
CenturyLink Communications, LLC      10  2.142857    1.0     7
AVAST Software s.r.o.                 1  2.000000    2.0     1
SoftLayer Technologies Inc.           1  1.000000    1.0     1
Sprint                                1  3.000000    3.0     1
Verizon Wireless                      1       NaN    NaN     0
ViaSat,Inc.                           1  2.000000    2.0     1

                                  actual_down_speed                \
                                               mean  median count
provider
Comcast Cable Communications, LLC         78.518448  67.160    58
CenturyLink Communications, LLC            7.997000   5.855    10
AVAST Software s.r.o.                     31.720000  31.720     1
SoftLayer Technologies Inc.               23.900000  23.900     1
Sprint                                    76.380000  76.380     1
Verizon Wireless                           3.460000   3.460     1
ViaSat,Inc.                                3.390000   3.390     1

                                  monthly_price              actual_price  \
                                           mean median count         mean
provider
Comcast Cable Communications, LLC     78.882353   71.5    34     2.205313
CenturyLink Communications, LLC       65.444444   55.0     9    30.076250
AVAST Software s.r.o.                 60.000000   60.0     1          NaN
SoftLayer Technologies Inc.           13.000000   13.0     1     0.540000
Sprint                                      NaN    NaN     0          NaN
Verizon Wireless                            NaN    NaN     0          NaN
ViaSat,Inc.                          120.000000  120.0     1    35.400000


                                   median count
provider
Comcast Cable Communications, LLC   1.415    32
CenturyLink Communications, LLC    10.970     8
AVAST Software s.r.o.                 NaN     0
SoftLayer Technologies Inc.         0.540     1
Sprint                                NaN     0
Verizon Wireless                      NaN     0
ViaSat,Inc.                        35.400     1

## Lane County

In [42]:
county_tracts = np.setdiff1d(lane_tracts, eugene_tracts)
county_tracts = np.setdiff1d(county_tracts, springfield_tracts)

county = sua[sua['census_code'].isin(county_tracts)]
county.describe()

,zip_code,monthly_price,provider_down_speed,provider_price,actual_down_speed,actual_price,rating,completed,latitude,longitude,...,actual_upload_speed,from_mlab,area_code,census_code,upload_median,download_median,county,accuracy,location,census_block
count,261.000000,170.000000,131.000000,127.000000,262.000000,127.000000,172.000000,262.0,262.000000,262.000000,...,262.000000,262.0,0.0,2.620000e+02,0.0,0.0,262.0,38.000000,0.0,2.460000e+02
mean,97443.153257,80.405882,131.396947,8.941339,22.487481,67.275276,3.156977,1.0,44.020871,-123.163950,...,6.343702,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,679.736842,NaN,4.103900e+14
std,28.628514,47.472009,879.375729,15.438889,33.193409,196.771799,1.807654,0.0,0.121406,0.362133,...,16.514166,0.0,NaN,6.887840e+02,NaN,NaN,0.0,1764.980540,NaN,7.010074e+06
min,97402.000000,20.000000,1.000000,0.020000,0.030000,0.350000,1.000000,1.0,43.686800,-124.130500,...,0.000000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,10.000000,NaN,4.103900e+14
25%,97424.000000,45.000000,10.000000,1.460000,2.670000,3.880000,1.000000,1.0,43.946700,-123.341500,...,0.600000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,50.000000,NaN,4.103900e+14
50%,97438.000000,65.000000,15.000000,3.800000,8.110000,10.890000,3.000000,1.0,44.038750,-123.167300,...,1.660000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,50.000000,NaN,4.103900e+14
75%,97478.000000,100.000000,42.500000,8.415000,25.500000,25.915000,4.000000,1.0,44.103200,-123.003200,...,5.895000,0.0,NaN,4.103900e+10,NaN,NaN,41039.0,138.000000,NaN,4.103900e+14
max,97490.000000,200.000000,10000.000000,90.000000,176.520000,1428.570000,7.000000,1.0,44.262200,-122.163100,...,203.650000,0.0,NaN,4.103901e+10,NaN,NaN,41039.0,9752.000000,NaN,4.103901e+14

In [44]:
county.groupby('provider').agg({
    "id": ["count"],
    "rating":  ["mean", "median", "count"],
    "actual_down_speed": ["mean", "median", "count"],
    "monthly_price": ["mean", "median", "count"],
    "actual_price": ["mean", "median", "count"]
}).sort_values(('id', 'count'), ascending=False).head(15)

                                          id    rating               \
                                       count      mean median count
provider
CenturyLink Communications, LLC          104  2.571429    2.0    70
Charter Communications                    53  4.636364    5.0    33
Verizon Wireless                          25  2.200000    2.0    15
ViaSat,Inc.                               16  1.833333    1.5    12
Comcast Cable Communications, LLC         15  4.666667    5.0     9
Hughes Network Systems                    13  2.333333    3.0     9
Emerald Broadband, LLC                     9  3.625000    3.5     8
XS Media                                   9  4.111111    4.0     9
Hunter Communications                      8  2.750000    3.0     4
LS Networks                                4  5.000000    4.0     3
AT&T Mobility LLC                          3       NaN    NaN     0
Sprint                                     1       NaN    NaN     0
Sprint Personal Communications Systems     1       NaN    NaN     0
tfm associates                             1       NaN    NaN     0

                                       actual_down_speed                 \
                                                    mean   median count
provider
CenturyLink Communications, LLC                 6.571923    3.710   104
Charter Communications                         49.042075   37.110    53
Verizon Wireless                               17.265200    8.250    25
ViaSat,Inc.                                     7.438750    5.780    16
Comcast Cable Communications, LLC              65.039333   63.120    15
Hughes Network Systems                          4.800769    2.100    13
Emerald Broadband, LLC                         24.635556    7.140     9
XS Media                                       19.324444   17.540     9
Hunter Communications                          46.235000   13.315     8
LS Networks                                     6.937500    2.425     4
AT&T Mobility LLC                              12.403333    6.710     3
Sprint                                        115.560000  115.560     1
Sprint Personal Communications Systems          2.920000    2.920     1
tfm associates                                 71.400000   71.400     1

                                       monthly_price               \
                                                mean median count
provider
CenturyLink Communications, LLC            60.652174   54.0    69
Charter Communications                     64.333333   64.5    30
Verizon Wireless                          117.333333  107.5    12
ViaSat,Inc.                               144.875000  169.0    16
Comcast Cable Communications, LLC          71.700000   70.0    10
Hughes Network Systems                     88.750000   92.5    12
Emerald Broadband, LLC                    125.000000  125.0     8
XS Media                                  118.800000  119.0     5
Hunter Communications                      71.500000   62.5     4
LS Networks                                41.500000   42.0     4
AT&T Mobility LLC                                NaN    NaN     0
Sprint                                           NaN    NaN     0
Sprint Personal Communications Systems           NaN    NaN     0
tfm associates                                   NaN    NaN     0

                                       actual_price
                                               mean   median count
provider
CenturyLink Communications, LLC           58.635094   16.220    53
Charter Communications                     3.446818    1.195    22
Verizon Wireless                         350.596667  165.015     6
ViaSat,Inc.                              154.854286   20.655    14
Comcast Cable Communications, LLC          2.033750    0.855     8
Hughes Network Systems                    86.595000   30.580    10
Emerald Broadband, LLC                    15.406667    7.000     3
XS Media                                   7.186667    6.840     3
Hunter Communications                     19.070000   19.875     4
LS Networks                               15.662500   17.500     4
AT&T Mobility LLC                               NaN      NaN     0
Sprint                                          NaN      NaN     0
Sprint Personal Communications Systems          NaN      NaN     0
tfm associates                                  NaN      NaN     0